<a href="https://colab.research.google.com/github/RafalKolodziejczyk/Data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Wczytanie danych](#a2)
3. [Preprocessing](#a3)
4. [Konkatenacja danych](#a4)
5. [Metoda append()](#a5)

### <a name='a1'></a> Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a2'></a> Wczytanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 911 entries, 2022-12-19 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    911 non-null    float64
 1   High    911 non-null    float64
 2   Low     911 non-null    float64
 3   Close   911 non-null    float64
 4   Volume  911 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 42.7 KB

In [5]:
apple.head()

               Open      High      Low   Close       Volume
Date
2022-12-19  135.110  135.2000  131.320  132.37   79592614.0
2022-12-16  136.685  137.6500  133.730  134.51  160156900.0
2022-12-15  141.110  141.8000  136.025  136.50   98931907.0
2022-12-14  145.350  146.6550  141.160  143.21   82291182.0
2022-12-13  149.500  149.9692  144.240  145.47   93886161.0

### <a name='a3'></a> Preprocessing

In [6]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [7]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-12-19     135.110    135.2000    131.320       132.37    79592614.0
2022-12-16     136.685    137.6500    133.730       134.51   160156900.0
2022-12-15     141.110    141.8000    136.025       136.50    98931907.0
2022-12-14     145.350    146.6550    141.160       143.21    82291182.0
2022-12-13     149.500    149.9692    144.240       145.47    93886161.0

### <a name='a4'></a> Konkatenacja danych

In [9]:
df = pd.concat(objs = [apple, amazon, google, uber], axis = 1)

In [10]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,911.000000,911.000000,911.000000,911.000000,9.110000e+02
mean,96.267608,97.435365,95.144054,96.331312,1.196266e+08,119.828282,121.264658,118.223372,119.747561,8.653373e+07,85.531429,86.478271,84.575091,85.539341,3.531454e+07,37.586409,38.356011,36.731366,37.536718,2.561848e+07
std,46.781928,47.381636,46.163039,46.790318,5.676377e+07,35.819231,36.209339,35.383539,35.756319,4.075048e+07,30.884837,31.181307,30.521126,30.843051,1.602621e+07,9.818831,9.892619,9.674688,9.767650,1.664715e+07
min,34.743100,35.158800,34.263500,34.309400,3.519586e+07,58.418000,58.731000,58.027500,58.418000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,49.248800,49.721300,48.983500,49.399400,8.158206e+07,89.150000,89.782500,88.011000,88.999500,5.884682e+07,58.600000,59.198500,58.128000,58.580000,2.514854e+07,30.150000,30.742500,29.410600,30.130000,1.574201e+07
50%,87.425400,89.153100,86.473300,88.341600,1.051110e+08,108.104000,110.781000,106.324200,108.000000,7.517203e+07,73.164000,74.078000,72.553200,73.280000,3.143660e+07,35.340000,36.165000,34.390000,35.010000,2.195069e+07
75%,142.216000,143.632000,140.432000,142.174000,1.401240e+08,158.338000,159.938000,156.250000,158.100000,1.027306e+08,112.640000,114.014000,111.460000,112.721000,4.025734e+07,44.470000,45.230000,43.565050,44.275000,3.081560e+07
max,181.576000,181.885000,178.087000,180.958000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [13]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,96.27,46.78,34.74,49.25,87.43,142.22,181.58
apple_high,1257.00,97.44,47.38,35.16,49.72,89.15,143.63,181.88
apple_low,1257.00,95.14,46.16,34.26,48.98,86.47,140.43,178.09
apple_close,1257.00,96.33,46.79,34.31,49.40,88.34,142.17,180.96
apple_volume,1257.00,119626613.50,56763767.13,35195860.00,81582055.01,105110956.96,140123964.36,434708544.96
amazon_open,1257.00,119.83,35.82,58.42,89.15,108.10,158.34,187.20
amazon_high,1257.00,121.26,36.21,58.73,89.78,110.78,159.94,188.65
amazon_low,1257.00,118.22,35.38,58.03,88.01,106.32,156.25,184.84
amazon_close,1257.00,119.75,35.76,58.42,89.00,108.00,158.10,186.57
amazon_volume,1257.00,86533732.80,40750475.92,17626740.00,58846820.00,75172028.00,102730620.00,311345660.00
google_open,1257.00,85.53,30.88,49.22,58.60,73.16,112.64,151.25
google_high,1257.00,86.48,31.18,50.61,59.20,74.08,114.01,151.55
google_low,1257.00,84.58,30.52,48.88,58.13,72.55,111.46,148.90
google_close,1257.00,85.54,30.84,49.23,58.58,73.28,112.72,149.84
google_volume,1257.00,35314538.38,16026209.85,9312760.00,25148540.00,31436600.00,40257340.00,133177100.00
uber_open,911.00,37.59,9.82,15.96,30.15,35.34,44.47,63.25
uber_high,911.00,38.36,9.89,17.80,30.74,36.16,45.23,64.05
uber_low,911.00,36.73,9.67,13.71,29.41,34.39,43.57,60.80
uber_close,911.00,37.54,9.77,14.82,30.13,35.01,44.28,63.18
uber_volume,911.00,25618475.83,16647151.96,3380003.00,15742007.50,21950694.00,30815598.50,186322536.00

In [14]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.35,0.81,0.81,0.81,0.81,-0.29,0.93,0.93,0.93,0.93,-0.14,0.10,0.11,0.10,0.10,0.11
apple_high,1.00,1.00,1.00,1.00,-0.34,0.81,0.81,0.80,0.81,-0.29,0.93,0.93,0.93,0.93,-0.13,0.10,0.10,0.10,0.10,0.11
apple_low,1.00,1.00,1.00,1.00,-0.36,0.81,0.82,0.81,0.81,-0.30,0.93,0.94,0.93,0.93,-0.14,0.11,0.11,0.11,0.11,0.11
apple_close,1.00,1.00,1.00,1.00,-0.35,0.81,0.81,0.81,0.81,-0.29,0.93,0.93,0.93,0.93,-0.14,0.10,0.11,0.10,0.10,0.11
apple_volume,-0.35,-0.34,-0.36,-0.35,1.00,-0.24,-0.24,-0.25,-0.25,0.59,-0.41,-0.40,-0.41,-0.41,0.51,-0.20,-0.20,-0.22,-0.21,0.24
amazon_open,0.81,0.81,0.81,0.81,-0.24,1.00,1.00,1.00,1.00,-0.26,0.81,0.81,0.81,0.81,-0.15,0.57,0.57,0.57,0.57,-0.05
amazon_high,0.81,0.81,0.82,0.81,-0.24,1.00,1.00,1.00,1.00,-0.25,0.81,0.81,0.81,0.81,-0.14,0.56,0.57,0.56,0.56,-0.04
amazon_low,0.81,0.80,0.81,0.81,-0.25,1.00,1.00,1.00,1.00,-0.28,0.81,0.80,0.81,0.81,-0.16,0.58,0.59,0.59,0.59,-0.06
amazon_close,0.81,0.81,0.81,0.81,-0.25,1.00,1.00,1.00,1.00,-0.26,0.81,0.81,0.81,0.81,-0.16,0.57,0.57,0.57,0.57,-0.05
amazon_volume,-0.29,-0.29,-0.30,-0.29,0.59,-0.26,-0.25,-0.28,-0.26,1.00,-0.32,-0.31,-0.33,-0.32,0.59,-0.18,-0.18,-0.20,-0.19,0.24
google_open,0.93,0.93,0.93,0.93,-0.41,0.81,0.81,0.81,0.81,-0.32,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.09
google_high,0.93,0.93,0.94,0.93,-0.40,0.81,0.81,0.80,0.81,-0.31,1.00,1.00,1.00,1.00,-0.16,0.23,0.24,0.23,0.23,0.10
google_low,0.93,0.93,0.93,0.93,-0.41,0.81,0.81,0.81,0.81,-0.33,1.00,1.00,1.00,1.00,-0.18,0.25,0.25,0.25,0.25,0.09
google_close,0.93,0.93,0.93,0.93,-0.41,0.81,0.81,0.81,0.81,-0.32,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.09
google_volume,-0.14,-0.13,-0.14,-0.14,0.51,-0.15,-0.14,-0.16,-0.16,0.59,-0.17,-0.16,-0.18,-0.17,1.00,-0.17,-0.16,-0.19,-0.17,0.26
uber_open,0.10,0.10,0.11,0.10,-0.20,0.57,0.56,0.58,0.57,-0.18,0.24,0.23,0.25,0.24,-0.17,1.00,1.00,1.00,0.99,-0.24
uber_high,0.11,0.10,0.11,0.11,-0.20,0.57,0.57,0.59,0.57,-0.18,0.24,0.24,0.25,0.24,-0.16,1.00,1.00,1.00,1.00,-0.21
uber_low,0.10,0.10,0.11,0.10,-0.22,0.57,0.56,0.59,0.57,-0.20,0.24,0.23,0.25,0.24,-0.19,1.00,1.00,1.00,1.00,-0.26
uber_close,0.10,0.10,0.11,0.10,-0.21,0.57,0.56,0.59,0.57,-0.19,0.24,0.23,0.25,0.24,-0.17,0.99,1.00,1.00,1.00,-0.23
uber_volume,0.11,0.11,0.11,0.11,0.24,-0.05,-0.04,-0.06,-0.05,0.24,0.09,0.10,0.09,0.09,0.26,-0.24,-0.21,-0.26,-0.23,1.00

In [15]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [16]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [18]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.81          0.93        0.10
amazon_close         0.81          1.00          0.81        0.57
google_close         0.93          0.81          1.00        0.24
uber_close           0.10          0.57          0.24        1.00

In [19]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [20]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.35,0.81,-0.29,0.93,-0.14,0.10,0.11
apple_volume,-0.35,1.00,-0.25,0.59,-0.41,0.51,-0.21,0.24
amazon_close,0.81,-0.25,1.00,-0.26,0.81,-0.16,0.57,-0.05
amazon_volume,-0.29,0.59,-0.26,1.00,-0.32,0.59,-0.19,0.24
google_close,0.93,-0.41,0.81,-0.32,1.00,-0.17,0.24,0.09
google_volume,-0.14,0.51,-0.16,0.59,-0.17,1.00,-0.17,0.26
uber_close,0.10,-0.21,0.57,-0.19,0.24,-0.17,1.00,-0.23
uber_volume,0.11,0.24,-0.05,0.24,0.09,0.26,-0.23,1.00

### <a name='a5'></a> Metoda append()

In [21]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-12-19      26.02      26.02     24.69       24.95     35616094
2022-12-16      26.06      26.45     25.66       25.97     22684200
2022-12-15      26.98      27.11     25.88       26.24     19383729
2022-12-14      27.07      27.82     26.77       27.47     19427279
2022-12-13      28.03      28.45     26.91       26.98     27635364

In [22]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [23]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [26]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]